.pagination {
  @include flexCenteredVertically;
  flex-direction: column;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.circle {
  background: none;
  @include square(24);
  @include flexCentered;

  @include notFirstChild {
    margin-top: 32px;
  }
}
