.section {
  width: 100%;
  background-color: $black;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  @include flexCenteredVertically;
  justify-content: space-between;

  @include sm {
    justify-content: center;
  }
}

.title {
  color: $gray-light;
  font-family: $ff-k;
  font-size: 34px;
  font-weight: 500;
}

.cards {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 15px;

  overflow-x: scroll;
  @include hideScrollbar;

  @include lg {
    width: calc(100% + 72px);
    margin: 40px -32px 0;

    a:first-child {
      margin-left: 36px;
    }
    a:last-child {
      margin-right: 36px;
    }
  }

  @include sm {
    width: calc(100% + 32px);
    margin: 40px -16px 0;

    a:first-child {
      margin-left: 16px;
    }
    a:last-child {
      margin-right: 16px;
    }
  }
}

.button {
  @include flexCenteredVertically;
  padding: 14px 24px;
  border-radius: 99px;
  border: 1px solid $gray-dark;

  transition: 0.2s linear border;

  svg {
    margin-left: 8px;
    transition: 0.2s linear transform;

    path {
      stroke: $gray-dark;
      transition: 0.2s linear stroke;
    }
  }

  &__text {
    color: $gray-light;
    font-family: $ff-f;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
  }

  &:hover {
    border: 1px solid $gray-light;

    svg {
      transform: translateX(6px);
      path {
        stroke: $gray-light;
      }
    }
  }

  &.buttonBottom {
    display: none;
  }

  @include sm {
    &.buttonBottom {
      display: flex;
    }
    &.buttonTop {
      display: none;
    }

    margin: 40px auto 0;
    width: fit-content;
  }
}
