.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba($black, 0.96);
  overflow-y: auto;

  :global .container {
    height: 100%;
    align-items: center;
    justify-content: center;

    @include xl {
      height: initial;
      justify-content: initial;
      padding-top: 140px !important;
      padding-bottom: 100px !important;
    }

    @include sm {
      padding-top: 200px !important;
    }
  }
}

.title {
  color: $gray-light;
  font-family: $ff-k;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.4;
}

.filtersRowBlock {
  width: 100%;
  @include flexCenteredVertically;
  justify-content: space-evenly;
  margin-top: 80px;

  @include xl {
    flex-direction: column;

    & > div {
      align-items: center;
    }
  }

  @include sm {
    width: 100%;
    & > div {
      width: 100%;
    }
  }
}

.yearTitle {
  margin-bottom: 35px;

  @include xl {
    margin-top: 80px;
  }
}
