.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba($black, 0.96);
  overflow-y: auto;

  :global(.container) {
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 80px;

    @include xxl {
      height: initial;
      justify-content: initial;
      padding-top: 140px !important;
      padding-bottom: 100px !important;
      gap: 60px;
    }

    @include sm {
      padding-top: 200px !important;
    }
  }
}

.title {
  color: $gray-light;
  font-family: $ff-u;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.4;
}

.filtersRowBlock {
  width: 100%;
  @include flexCenteredVertically;
  justify-content: space-evenly;

  @include xxl {
    flex-direction: column;
    gap: 60px;

    & > div {
      align-items: center;
    }
  }

  @include sm {
    width: 100%;
    & > div {
      width: 100%;
    }
  }
}

.yearTitle {
  margin-bottom: 35px;
}
