.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  background-color: rgba($black, 0.96);
  overflow-y: auto;

  @include flexCenteredVertically;
  flex-direction: column;
  padding-top: 100px;

  @include md {
    padding: 100px 20px 0;
  }
  @include sm {
    padding: 100px 16px 0;
  }
}

.searchInputWrapper {
  max-width: 660px;
}

.results {
  // max-width: calc(660px + 32px);
  max-width: 900px;
  width: 100%;
  margin: 32px 0;
  display: flex;
  gap: 32px;

  @include md {
    margin: 0 0 32px 0;
  }
}

.resultBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.resultContent {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: $gray-dark;
}

.resultGroup {
}

.noDataText {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;

  @include md {
    font-size: 20px;
  }
}
