.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  background-color: rgba($black, 0.96);
  overflow-y: auto;

  @include flexCenteredVertically;
  flex-direction: column;
  padding-top: 100px;

  @include md {
    padding: 100px 20px 0;
  }
  @include sm {
    padding: 100px 16px 0;
  }
}

.searchInputWrapper {
  max-width: 660px;
}

.results {
  max-width: calc(660px + 32px);
  width: 100%;
  margin: 32px 0;
  display: flex;
  flex-direction: column;

  @include md {
    margin: 0 0 32px 0;
  }
}

.result {
  @include flexCenteredVertically;
  border-radius: 20px;
  padding: 16px;

  transition: background-color 0.2s linear;

  &:hover {
    background-color: rgba($primary, 0.5);

    @include sm {
      background-color: initial;
    }
  }

  @include sm {
    padding: 8px 0;
  }
}

.resultPoster {
  @include square(122);
  min-width: 122px;
  border-radius: 20px;
  object-fit: cover;

  @include md {
    @include square(100);
    min-width: 100px;
  }
  @include sm {
    @include square(50);
    min-width: 50px;
    height: 71px;
    border-radius: 8px;
  }
}

.resultInfo {
  display: flex;
  flex-direction: column;
  margin-left: 40px;

  @include md {
    margin-left: 24px;
  }
  @include sm {
    margin-left: 16px;
  }
}

.resultText {
  font-size: 24px;
  font-weight: 500;

  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  &.subtitle {
    color: $gray;
    margin-top: 6px;
  }

  @include md {
    font-size: 20px;
  }
  @include sm {
    font-size: 16px;
  }
}

.noDataText {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;

  @include md {
    font-size: 20px;
  }
}
