.container {
  margin-top: 60px;
  width: 100%;
  flex-direction: column;
  gap: 16px;

  @include md {
    margin-top: 40px;
  }
}

.noDataText {
  font-size: 24px;
  text-align: center;
  color: $gray;

  @include sm {
    font-size: 22px;
  }
}
