// After changes also update colors.module.scss

$white: #fafaf4;

$primary: #0063f2;
$primary-light: #5ca0ff;
$primary-dark: #0055cc;

$purple: #976ae4;
$purple-light: #c5a3ff;
$purple-dark: #572f9d;

$yellow: #f9ea9a;

$black: #070d11;

$gray: #5c6982;
$gray-light: #919bb4;
$gray-dark: #33415c;

$error: #fb485d;
$error-dark: #260404;
