.section {
  width: 100%;
  margin-top: 150px;
  background-color: $black;

  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  @include flexCenteredVertically;
  justify-content: space-between;
}

.sliderWrapper {
  width: 100%;
  margin-top: 40px;
}
