.section {
  width: 100%;
  margin-top: 150px;
  background-color: $black;

  display: flex;
  flex-direction: column;

  @include sm {
    margin-top: 100px;
  }
}

.header {
  width: 100%;
  @include flexCenteredVertically;
  justify-content: space-between;

  @include sm {
    justify-content: center;
  }
}

.sliderWrapper {
  width: 100%;
  margin-top: 40px;
}
