.wrapper {
  width: 100%;
  @include flexCenteredVertically;
  margin-top: 16px;
  gap: 16px;

  overflow-x: auto;
  padding-bottom: 10px;

  // Scrollbar
  &::-webkit-scrollbar {
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background: $gray-dark;
    border-radius: 99px;
  }
  &::-webkit-scrollbar-thumb {
    background: $gray-light;
    border-radius: 99px;

    &:hover {
      background: $gray;
    }
  }
}

.filter {
  @include flexCenteredVertically;
  padding: 14px 20px 14px 24px;
  border-radius: 99px;
  border: 1px solid $gray-dark;

  p {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }
}

.removeButton {
  @include flexCentered;
  @include square(24);
  margin-left: 16px;

  svg {
    @include square(100, '%');

    path {
      stroke: $gray;
      transition: stroke 0.2s linear;
    }
  }

  &:hover {
    svg > path {
      stroke: $white;
    }
  }
}
