@use 'helpers/reset';
@use 'helpers/container';

* {
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  font-family: $ff-f;
  color: $white;
  background: $black;
}

main {
  // header spacing
  padding-top: 100px;
}

h1,
h2 {
  font-family: $ff-k;
  font-weight: 500;
}
