@use 'helpers/reset';

* {
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  font-family: $ff-f;
  color: $white;
  background: $black;
  min-height: 100vh;
}

h1,
h2 {
  font-family: $ff-k;
  font-weight: 500;
}

.section-title {
  color: $gray-light;
  font-family: $ff-k;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}

.page-offset {
  padding-top: 100px !important;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include xxl {
    max-width: 968px;
  }
  @include lg {
    max-width: 100%;
    padding: 0 32px;
  }
  @include sm {
    max-width: 100%;
    padding: 0 16px;
  }
}
