.wrapper {
  width: 100%;
  padding: 200px 0 100px;
  display: flex;
  position: relative;

  @include md {
    flex-direction: column;
    padding: 150px 0 100px;
  }
  @include sm {
    flex-direction: column;
    padding: 312px 0 0px;
  }
}

.background {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 0px 0px 80px 80px;
  pointer-events: none;

  &.bgImage {
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
  }

  &.gradient {
    background: linear-gradient(90deg, rgba($black, 0.8) 9.32%, rgba($black, 0.6) 90.54%);
    z-index: 0;

    @include sm {
      background: linear-gradient(180deg, rgba($black, 0) 0%, $black 64.95%);
    }
  }

  @include sm {
    height: 531px;
    border-radius: initial;
  }
}

.poster {
  width: 358px;
  height: 507px;
  border-radius: 40px;
  object-fit: cover;
  position: relative;

  @include lg {
    width: 288px;
    height: 437px;
  }
  @include md {
    margin: 0 auto;
  }
  @include sm {
    display: none;
  }
}

.content {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  position: relative;

  @include lg {
    margin-left: 40px;
  }
  @include md {
    margin-left: 0;
    margin-top: 32px;
  }
}

.title {
  font-family: $ff-k;
  font-size: 50px;
  font-weight: 500;

  @include lg {
    font-size: 40px;
  }
  @include sm {
    font-size: 34px;
    text-align: center;
    order: 1;
  }
}

.divider {
  display: none;
  height: 100%;
  margin: 32px 0;
  border-color: $gray-dark;
  order: 7;

  &:first-of-type {
    order: 3;
  }

  @include sm {
    display: initial;
  }
}
