.wrapper {
  width: 100%;
  padding: 200px 0 100px;
  @include flexCenteredVertically;
  position: relative;
}

.background {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 0px 0px 80px 80px;
  pointer-events: none;

  &.bgImage {
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
  }

  &.gradient {
    background: linear-gradient(90deg, rgba($black, 0.8) 9.32%, rgba($black, 0.2) 90.54%);
    z-index: 0;
  }
}

.poster {
  width: 358px;
  height: 507px;
  border-radius: 40px;
  object-fit: cover;
  position: relative;
}

.content {
  margin-left: 70px;
  min-height: 507px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.title {
  font-family: $ff-k;
  font-size: 56px;
  font-weight: 500;
}

.synopsis {
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  white-space: pre-line;
}

.actionButtons {
  @include flexCenteredVertically;
  margin-top: 48px;
  gap: 12px;
}

.details {
  @include flexCenteredVertically;
  margin-top: 48px;
  flex-wrap: wrap;
  gap: 24px 70px;
}

.detail {
  font-size: 16px;
  font-weight: 500;
  color: $gray;
  text-align: center;

  mark {
    font-size: 18px;
    color: $white;
    text-transform: capitalize;
    margin-left: 6px;
  }
}
