.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 104px 1fr auto;
  column-gap: 40px;
  z-index: 1;
  position: relative;

  &:hover {
    z-index: 2;
  }

  @include notFirstChild {
    margin-top: 16px;
  }

  @include md {
    column-gap: 20px;
    grid-template-columns: 100px 1fr auto;
  }
  @include sm {
    grid-template-columns: 80px 1fr auto;
  }
}

.posterWrapper {
  width: 100%;
  height: 104px;
  position: relative;

  @include md {
    height: 100px;
  }
  @include sm {
    height: 80px;
  }
}

.poster {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;

  transition:
    width 0.2s ease-in-out,
    height 0.2s ease-in-out;

  &:hover {
    width: 150px;
    height: 230px;

    @include md {
      width: 100%;
      height: 100%;
    }
  }

  @include sm {
    border-radius: 12px;
  }
}

.posterLoader {
  display: block;
  height: 100%;

  & > :global(.react-loading-skeleton) {
    height: 100%;
  }
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.textInfo {
  color: $white;
  font-size: 20px;
  font-weight: 500;

  transition: color 0.2s linear;

  &.link {
    @include textLines;
    &:hover {
      color: $purple;
    }

    @include md {
      @include textLines(2);
    }
  }

  &.subtitle {
    color: $gray;
    margin-top: 6px;
    text-transform: capitalize;
    font-size: 18px;

    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 14px;
    }
  }

  @include md {
    font-size: 18px;
  }
  @include sm {
    font-size: 16px;
  }
}

@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.deleteButton {
  @include flexCenteredVertically;
  gap: 16px;

  color: $error;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;

  &:hover > svg {
    animation: shaking 0.3s infinite;
  }

  @include md {
    gap: 8px;
  }
  @include sm {
    span {
      display: none;
    }
  }
}
