.ratingWrapper {
  @include flexCenteredVertically;
  margin-top: 24px;

  @include sm {
    margin-top: 0;
    order: 5;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}

.ratingText {
  font-size: 24px;
  font-weight: 500;

  &.user {
    margin-left: 12px;

    @include sm {
      font-size: 34px;
      margin-left: 16px;
    }
  }
  &.general {
    margin-left: 6px;
  }

  &.avg {
    font-size: 16px;
    margin-right: 6px;
    color: $gray-light;
    display: none;

    @include sm {
      display: initial;
    }
  }
}

.divider {
  height: 12px;
  margin: 0 40px;
  border-color: $white;

  @include sm {
    display: none;
  }
}

.ratingsCount {
  color: $gray-light;
  font-size: 16px;
  font-weight: 500;
  margin-top: 6px;
  margin-left: 6px;
}
