.details {
  margin-top: 24px;
  display: flex;
  flex-direction: column;

  @include sm {
    margin-top: 40px;
    order: 6;
  }
}

.row {
  @include flexCenteredVertically;
  flex-wrap: wrap;
  gap: 16px 60px;

  @include notFirstChild {
    margin-top: 16px;

    @include sm {
      margin-top: 12px;
    }
  }

  @include lg {
    gap: 16px 30px;
  }
  @include sm {
    gap: 12px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.detail {
  font-size: 16px;
  font-weight: 500;
  color: $gray-light;
  text-align: center;
  display: flex;

  mark,
  a {
    font-size: 18px;
    color: $white;
    text-transform: capitalize;
    margin-left: 6px;

    transition: color 0.2s linear;
  }

  a:hover {
    color: $purple;
  }
}
