.header {
  width: 100%;
  padding: 28px 0;
  background-color: rgba($black, 0.8);
  backdrop-filter: blur(30px);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  :global .container {
    flex-direction: row;
    @include flexCentered;
    position: relative;
  }
}

.navigation {
  @include flexCenteredVertically;
}

.logo {
  display: flex;
  margin: 0 calc(56px - 42px) 0 56px;
}

.actionButtons {
  @include flexCenteredVertically;

  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.searchButton {
  @include flexCentered;
}

.userButton {
  @include flexCentered;
  padding: 10px;
  border-radius: 50%;
  background: linear-gradient(220deg, $gray-dark 0%, rgba($gray-dark, 0) 100%);
  margin-left: 40px;
}

.backButton {
  @include flexCenteredVertically;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  padding: 10px 24px 10px 22px;
  border-radius: 99px;
  border: 1px solid $gray-dark;

  color: $gray;
  font-size: 18px;
  font-weight: 500;

  transition: color 0.2s linear;

  svg {
    stroke: $gray;
    margin-right: 4px;
    transition:
      stroke 0.2s linear,
      transform 0.2s linear;
  }

  &:hover {
    color: $white;

    svg {
      stroke: $white;
      transform: translateX(-5px);
    }
  }
}
