.header {
  width: 100%;
  padding: 28px 0;
  background-color: rgba($black, 0.8);
  backdrop-filter: blur(30px);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  & > :global(.container) {
    flex-direction: row;
    @include flexCenteredVertically;
    justify-content: space-between;
    position: relative;
  }

  @include md {
    padding: 18px 0;
  }
}

.navigation {
  @include flexCenteredVertically;

  @include md {
    display: none;
  }
}

.logo {
  display: flex;
  margin: 0 calc(56px - 42px) 0 56px;
}

.actionButtons {
  width: 110px;
  @include flexCenteredVertically;
  justify-content: flex-end;
}

.userButton {
  @include flexCentered;
  @include square(44);
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(220deg, $gray-dark 0%, rgba($gray-dark, 0) 100%);
  margin-left: 40px;

  canvas {
    @include square(100, '%', true);
  }
}

.link {
  color: $gray;
  font-size: 16px;

  @include colorTransition;

  &:not(&:first-child) {
    margin-left: 42px;

    @include md {
      margin-left: 0;
      margin-top: 42px;
    }
  }

  &:hover {
    color: $white;
  }

  &.active {
    color: $white;
  }

  @include md {
    font-size: 32px;
  }
}
