@mixin square($size, $unit: 'px', $isImportant: false) {
  $rule: '';

  @if $isImportant == true {
    $rule: '!important';
  }

  width: #{$size}#{$unit} #{$rule};
  height: #{$size}#{$unit} #{$rule};
}

@mixin notFirstChild() {
  &:not(&:first-child) {
    @content;
  }
}

@mixin colorTransition() {
  transition: color linear 0.2s;
}
