.slide {
  width: 335px;
  display: flex;
  flex-direction: column;

  transition: opacity linear 0.2s;

  &:hover {
    opacity: 0.75;
  }

  @include sm {
    width: 260px;
  }
}

.poster {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;

  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
