.playerWrapper {
  width: 100%;
  margin-top: 40px;
}

.content {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;

  @include xxl {
    flex-direction: column;
  }
  @include sm {
    margin-top: 32px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 90px;

  @include xxl {
    margin-right: 0;
  }
}

.animeTitle {
  color: $gray-light;
  font-family: $ff-u;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;

  @include sm {
    font-size: 18px;
  }
}

.episodeTitle {
  color: $white;
  font-family: $ff-f;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 32px;

  @include xxl {
    margin-top: 24px;
  }
  @include sm {
    font-size: 34px;
    margin-top: 18px;
  }
  @include xs {
    font-size: 28px;
  }
}

.episodes {
  display: flex;

  @include xxl {
    margin-top: 60px;
  }
  @include sm {
    flex-direction: column;
    margin-top: 32px;
  }
}

.episode {
  display: flex;
  flex-direction: column;

  &.end {
    align-items: flex-end;
    margin-left: 20px;

    @include sm {
      margin-left: 0;
      margin-top: 32px;
      align-items: flex-start;
    }
  }
}

.navigateText {
  color: $gray-light;
  font-family: $ff-u;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 40px;

  @include sm {
    margin-bottom: 16px;
  }
  @include xs {
    font-size: 18px;
  }
}

.backButton {
  width: fit-content;
  @include flexCenteredVertically;

  padding: 10px 24px 10px 22px;
  border-radius: 99px;
  border: 1px solid $gray-dark;

  color: $gray;
  font-size: 18px;
  font-weight: 500;

  transition: color 0.2s linear;

  svg {
    stroke: $gray;
    margin-right: 4px;
    transition:
      stroke 0.2s linear,
      transform 0.2s linear;
  }

  &:hover {
    color: $white;

    svg {
      stroke: $white;
      transform: translateX(-5px);
    }
  }
}
