.wrapper {
  @include flexCenteredVertically;
  gap: 16px;
  margin-top: 100px;
  padding-bottom: 10px;
  overflow-x: auto;

  // Scrollbar
  &::-webkit-scrollbar {
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background: $gray-dark;
    border-radius: 99px;
  }
  &::-webkit-scrollbar-thumb {
    background: $gray-light;
    border-radius: 99px;

    &:hover {
      background: $gray;
    }
  }

  @include lg {
    margin-top: 50px;
  }
  @include sm {
    margin-top: 0;
  }
}

.link {
  @include flexCenteredVertically;
  padding: 14px 24px;
  border-radius: 99px;
  border: 1px solid $gray-dark;

  font-size: 18px;
  font-weight: 500;
  color: $gray;
  white-space: nowrap;

  transition:
    background-color 0.2s linear,
    border 0.2s linear,
    color 0.2s linear;

  &:hover {
    border: 1px solid $primary;
    background-color: $primary;
    color: $white;
  }

  &.active {
    border: 1px solid $primary;
    background-color: $primary;
    color: $white;
  }
}
