.footer {
  width: 100%;
  padding: 24px 0 64px;
  margin-top: 150px;
  background-color: $black;

  :global .container {
    flex-direction: row;
    @include flexCenteredVertically;
    justify-content: space-between;

    @include lg {
      flex-direction: column;
    }
  }

  @include md {
    margin-top: 100px;
    padding: 0 0 60px 0;
  }
}

.text {
  font-size: 16px;

  &__link {
    margin-left: 6px;
    @include colorTransition;
    &:hover {
      color: $primary;
    }

    @include lg {
      margin-left: 0;
      margin-top: 6px;
    }
  }

  &__info {
    margin-left: 40px;

    @include lg {
      margin-left: 23px;
    }
  }

  &__role {
    color: $gray;
  }
}

.teamBlock {
  @include flexCenteredVertically;

  @include notFirstChild {
    margin-left: 40px;
  }

  @include lg {
    margin-top: 40px;
    flex-direction: column;
    align-items: flex-start;
  }
}
