.filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @include sm {
    margin-top: 12px;
  }
}

.actions {
  width: 100%;
  @include flexCenteredVertically;
  justify-content: space-between;

  @include sm {
    flex-direction: column;
  }
}

.filterButton {
  @include flexCenteredVertically;
  padding: 14px 24px;
  border-radius: 99px;
  border: 1px solid $primary;
  background: $black;

  position: relative;
  z-index: 51;

  color: $white;
  font-size: 18px;
  font-weight: 500;

  svg {
    @include square(24);
    margin-right: 8px;

    @include sm {
      position: absolute;
      left: 24px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.open {
    border: 1px solid $gray-dark;
  }

  @include sm {
    width: 100%;
    justify-content: center;
  }
}
