.section {
  width: 100%;
  padding: 200px 70px 160px;

  @include flexCenteredVertically;
  position: relative;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.backgroundImage {
  top: 0;
  z-index: -1;
  object-fit: cover;
  opacity: 0.05;
  filter: blur(3px);
}

.backgroundGradient {
  top: 3px;
  z-index: 0;

  background: linear-gradient(180deg, rgba($black, 0) 90%, rgba($black, 1) 100%);
}

.swiperWrapper {
  width: 358px;
  height: 507px;
  position: relative;

  :global(.swiper-custom-pagination) {
    position: absolute;
    left: -70px !important;
    right: initial !important;
    :global(.swiper-pagination-bullet) {
      width: 24px;
      height: 24px;
      background: none;
      opacity: 1;
      margin: 32px 0 !important;
      background-image: url('../../../../assets/svg/pagination-circle.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%, 50%;
    }
    :global(.swiper-pagination-bullet-active) {
      background-image: url('../../../../assets/svg/pagination-circle-active.svg');
    }
  }
}

.swiper {
  height: 100%;
}

.poster {
  width: 358px;
  height: 507px;
  object-fit: cover;
  border-radius: 40px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  position: relative;
}

.title {
  font-family: $ff-k;
  font-size: 56px;
  font-weight: 500;

  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.synopsis {
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  max-width: 600px;

  overflow: hidden;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.details {
  @include flexCenteredVertically;
  margin-top: 90px;
}

.detail {
  font-size: 16px;
  font-weight: 500;
  color: $gray;
  text-align: center;

  mark {
    font-size: 18px;
    color: $white;
    text-transform: capitalize;
    margin-left: 6px;
  }

  @include notFirstChild {
    margin-left: 70px;
  }
}

.actionButtons {
  @include flexCenteredVertically;
  margin-top: 90px;
  gap: 12px;
}
